@font-face {
  font-family: 'AgencyFB';
  font-weight: 700;
  src: url('../fonts/AgencyFB.eot');
  src:
    url('../fonts/AgencyFB.eot') format('embedded-opentype'),
    url('../fonts/AgencyFB.woff2') format('woff2'),
    url('../fonts/AgencyFB.woff') format('woff'),
    url('../fonts/AgencyFB.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Light';
  font-weight: 300;
  src: url('../fonts/SFProDisplayLight.eot');
  src:
    url('../fonts/SFProDisplayLight.eot') format('embedded-opentype'),
    url('../fonts/SFProDisplayLight.woff2') format('woff2'),
    url('../fonts/SFProDisplayLight.woff') format('woff'),
    url('../fonts/SFProDisplayLight.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Regular';
  font-weight: 400;
  src: url('../fonts/SFProDisplayRegular.eot');
  src:
    url('../fonts/SFProDisplayRegular.eot') format('embedded-opentype'),
    url('../fonts/SFProDisplayRegular.woff2') format('woff2'),
    url('../fonts/SFProDisplayRegular.woff') format('woff'),
    url('../fonts/SFProDisplayRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('../fonts/SFProDisplayMedium.eot');
  src:
    url('../fonts/SFProDisplayMedium.eot') format('embedded-opentype'),
    url('../fonts/SFProDisplayMedium.woff2') format('woff2'),
    url('../fonts/SFProDisplayMedium.woff') format('woff'),
    url('../fonts/SFProDisplayMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  font-weight: 600;
  src: url('../fonts/SFProDisplaySemibold.eot');
  src:
    url('../fonts/SFProDisplaySemibold.eot') format('embedded-opentype'),
    url('../fonts/SFProDisplaySemibold.woff2') format('woff2'),
    url('../fonts/SFProDisplaySemibold.woff') format('woff'),
    url('../fonts/SFProDisplaySemibold.ttf') format('truetype');
}
